@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ant-input:placeholder-shown {
    border-radius: 0px;
    padding: 20px;
    margin-top: 10px;
}
